<div class="modal fade" id="helpModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Help!
            </div>
            <div class="modal-body">
                <p>This tool is made by fb.com/voldedore and based on an excel file which was shared by another member of this <a href="https://www.facebook.com/groups/418512378330283/">Shipping Manager Facebook Group</a></p>
                <p>New boats assume max engine and all advances options</p>
                <p>Cargo ships are listed by size (TEU)</p>
                <p>Oil tankers are listed by capacity (DWT)</p>
            </div>
        </div>
    </div>
</div>