<div class="modal fade" id="changelogModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Change Log
            </div>
            <div class="modal-body">
                <p>Ver 1.0 - 27/06/2015 : All functions are based on <a href="https://www.facebook.com/groups/418512378330283/431082203739967/">the original excel file</a></p>
                <p>Ver 1.1 - 04/07/2015 : Compare module added</p>
            </div>
        </div>
    </div>
</div>